<!DOCTYPE html>
<html lang="en">

<head>
    <title>Multi Credit Card Challenge</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/walletManager.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>




    <center><img src="VerdeVarejo.png" width="440" height="250" align="top"></img>
    </center>


    <center>
        <form name="addCardForm" action="/wallet/cardAdded" method="post">

            <label>Card Name</label><br>
            <input name="cardName" id="cardName"><br><br>

            <label>Card Number</label><br>
            <input name="cardNumber" id="cardNumber"><br><br>

            <label>Card Due Date</label><br>
            <input name="cardDueDate" id="cardDueDate"><br><br>

            <label>Card Expiration Date</label><br>
            <input name="cardExpDate" id="cardExpDate"><br><br>

            <label>Card CVV</label><br>
            <input name="cardCVV" id="cardCVV"><br><br>

            <label>Credit Limit</label><br>
            <input name="cardCreditLimit" id="cardCreditLimit"><br><br>

            <input type="submit" class="btn btn-primary" value="Add Credit Card" style="background-color: #009900">

        </form>
    </center>


</body>


</html>
