<!DOCTYPE html>
<html lang="en">

<head>
    <title>Multi Credit Card Challenge</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/walletManager.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <center><img src="VerdeVarejo.png" width="440" height="250" align="top"></img>
    </center>
    <form name="cardsForm" action="/wallet/removeCard" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Select Users</th>
                    <th>Card Name</th>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Due Date</th>
                    <th>Expiration Date</th>
                    <th>CVV</th>
                    <th>Credit Limit</th>
                    <th>Available Credit</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<cards.length;i++){%>
                    <tr>
                        <td>
                            <input type="radio" name="radioId" id="radioId" value=<%=i%>></input>
                        </td>
                        <td type="radio">
                            <%=cards[i].cardName%>
                        </td>
                        <td>
                            <%=cards[i].cardType%>
                        </td>
                        <td>
                            <%=cards[i].cardNumber%>
                        </td>
                        <td>
                            <%=cards[i].cardDueDate%>
                        </td>
                        <td>
                            <%=cards[i].cardExpDate%>
                        </td>
                        <td>
                            <%=cards[i].cardCVV%>
                        </td>
                        <td>
                            <%=cards[i].cardCreditLimit%>
                        </td>
                        <td>
                            <%=cards[i].cardCreditLimit-cards[i].cardDebit%>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

        <center>
            <a type="submit" class="btn btn-primary" href="/wallet/addCard" style="background-color: #009900">Add a New Credit Card</a>
            <input type="submit" class="btn btn-primary" style="background-color: #009900" value="Remove a Credit Card"></input><br><br>


            <a type="submit" class="btn btn-primary" href="/wallet/" style="background-color: #009900">Return to the Wallet</a>
        </center>
    </form>

</body>

</html>
