<!DOCTYPE html>
<html lang="en">

<head>
    <title>Multi Credit Card Challenge</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/walletManager.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link rel="stylesheet" href="popupS.css">
</head>

<body>

    <center><img src="VerdeVarejo.png" width="440" height="250" align="top"></img>
    </center>

    <center>
        <label><%=err%></label><br><br>
        <a type="submit" class="btn btn-primary" href="/wallet/" style="background-color: #009900">Return to the Wallet</a>

    </center>
</body>

</html>
