<!DOCTYPE html>
<html lang="en">

<head>
    <title>Multi Credit Card Challenge</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/walletManager.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <center><img src="VerdeVarejo.png" width="440" height="250" align="top"></img>
    </center>

    <center>
        <form name="loginForm" action="/Auth/signIn" method="post">

            <label>Email</label><br>
            <input type="email" name="userName" id="userName"><br>

            <label>Password</label><br>
            <input type="password" name="userPassword" id="userPassword"><br><br>

            <input type="submit" class="btn btn-primary" value="Sign In" style="background-color: #009900">
            <a type="submit" href="/Auth" class="btn btn-primary" style="background-color: #009900">Sign Up<a>
            


        </form>
    </center>
</body>

</html>
