<!DOCTYPE html>
<html lang="en">

<head>
    <title>Multi Credit Card Challenge</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/walletManager.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link rel="stylesheet" href="popupS.css">
</head>

<body>

    <center><img src="VerdeVarejo.png" width="440" height="250" align="top"></img>
    </center>

    <center>
        <font size="25"><b>Wallet Info</b></font>
        <h1>Limit Available:
            <%=limitSet-(maximumLimit-availableCredit)%>
        </h1>
        <h1>Limit Set:
            <%=limitSet%>
        </h1>
        <br>
        <font size="25"><b>Cards Info</b></font>
        <h1>Available Credit:
            <%=availableCredit%>
        </h1>
        <h1>Maximum Limit:
            <%=maximumLimit%>
        </h1>
        <br>
        <a display: "block" height="22" type="submit" href="/wallet/cards" class="btn btn-primary" style="background-color: #009900">
            <font size="4"><b>Manage your Cards</b></font>
        </a>

        <a display: "block" height="22" type="submit" href="/wallet/releaseCards" class="btn btn-primary" style="background-color: #009900">
            <font size="4"><b>Release Credit</b></font>
        </a>
        <a display: "block" height="22" type="submit" href="/Auth/SignOut" class="btn btn-primary" style="background-color: #009900">

            <font size="4"><b>Sign Out</b></font>
        </a>
        <br>


        <br><br>

        <form name="addCardForm" action="/wallet/setLimit" method="post">


            <label>Set a new Limit:  </label>
            <input type="number" name="setLimit" id="setLimit">
            <input type="submit" class="btn btn-primary" value="Set Limit" style="background-color: #009900">


        </form>

        <br>

        <form name="puchaseForm" action="/wallet/makeAPurchase" method="post">


            <label>Make a Purchase: </label>
            <input type="number" name="purchase" id="purchase">
            <input type="submit" class="btn btn-primary" value="Checkout!" style="background-color: #009900">


        </form>



    </center>
</body>

</html>
